@import '../app.component.scss';

.primary-call-to-action {
  border: 1px solid $white;
  background-color: $white;
  padding: 0.8rem 2.2rem;
  font-size: 14px;
  font-weight: 400;
  color: $primary-color;
  cursor: pointer;
  
}
.secondary-call-to-action {
  border: 1px solid $white;
  background-color: $primary-color;
  padding: 0.8rem 2.2rem;
  font-size: 14px;
  font-weight: 400;
  color: $white;
  cursor: pointer;
}

@media(max-width: 992px) {
  .primary-call-to-action, .secondary-call-to-action  {
      padding: 0.8rem 1.2rem;
    }
}
