<nav class="navbar">
  <div class="container">
    <div>
      <div class="logo">Artisty</div>
    </div>
    <ul class="navigation-menu">
      <li><a href="">Artworks</a></li>
      <li><a href="">Artists</a></li>
      <li><a href="">My Orders</a></li>
      <li><app-search-input></app-search-input></li>
      <li><a href="">Sign in</a></li>
      <li>
        <app-button
          [callToActionClasses]="callToActionClasses"
          [content]="ButtonContent"
        ></app-button>
      </li>
    </ul>
  </div>
</nav>
