.search-input {

    input {
        padding: 6px;
        border: none;
        background-color: #BBBABA;
        font-size: 17px;
        border-radius: 10px;
    }

    .input-search-icon {
        position: relative;
        right: 31px;
        top: 6px;
    }
}
