@import "../app.component.scss";

.callToAction{
    border: none;
    border-radius: 8px;
    background-color: $white;
    padding: 0.8rem 3rem;
    font-size: 16px;
    font-weight: 400;
    color: $primary-color;
}
