@import '../app.component.scss';

.primary-call-to-action {
  border: 1px solid $primary-border-color;
  background-color: transparent;
  padding: 0.8rem 2.2rem;
  font-size: 16px;
  font-weight: 400;
  color: $primary-text-color;
}
.secondary-call-to-action {
  border: 1px solid $primary-border-color;
  background-color: transparent;
  padding: 0.8rem 2.2rem;
  font-size: 16px;
  font-weight: 400;
  color: $primary-text-color;
}
