$primary-color: #264653;
$secondary-color: #2DAA9A;

// indicators
$error-color: #B00020;
$success-color: #4EBA34;
$warning-color: #F37027;
$info-color: #A3BBDE;

// base
$white: #FFFFFF;
$black: #000000;
