$primary-color: #D0CECE;
$secondary-color: #E0E0E0;
$support-color: #C4C4C4;

// indicators
$error-color: #b00020;
$success-color: #4eba34;
$warning-color: #f37027;
$info-color: #a3bbde;

// base
$white: #ffffff;
$black: #000000;

// borders
$primary-border-color: #828282;

// texts
$primary-text-color: #373737;
$seconday-text-color: #505050;
