// font-sizes scss var
$font-size-base: 16px;
$logo: 24px;

.h900 {
  font-size: 35px;
  line-height: 40px;
}
.h800 {
  font-size: 29px;
  line-height: 32px;
}
.h700 {
  font-size: 23px;
  line-height: 28px;
  @media(max-width: 400px) { 
    font-size: 16px;
  }
}
.h600 {
  font-size: 20px;
  line-height: 24px;
}
.h500 {
  font-size: 16px;
  line-height: 20px;
}
.h400 {
  font-size: 14px;
  line-height: 16px;
}
.h300 {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.h200 {
  font-size: 12px;
  line-height: 16px;
}
.h100 {
  font-size: 11px;
  line-height: 16px;
}


// utilities
.text-center {
  text-align: center;
}

