<header class="landing-page-banner">
    <div class="background-linear">
        <div class="container">
            <div class="banner">
                <div class="banner-title">
                    <h1 class="h900">Art is beautiful, Art is Life, Buy Arts.</h1>
                </div>
                <div class="banner-subtitle">
                    <p class="h700 mt-4">
                        Browse our collection to find the masterpiece that you desire or Join us today to start selling. 
                    </p>
                </div>
                <div class="banner-actions">
                    <app-call-to-action
                    class="banner-first-button mr-2"
                    [callToActionClasses]="firstButtonCallToActionClasses"
                    [content]="firstButtonContent"
                    (buttonAction)="handleButtonClick()"
                    ></app-call-to-action>
                    <app-call-to-action
                    class="banner-second-button"
                    [callToActionClasses]="secondButtonCallToActionClasses"
                    [content]="secondButtonContent"
                    (buttonAction)="handleButtonClick()"
                    ></app-call-to-action>
                </div>
            </div>

        </div>
    </div>
</header>
<section class="landing-page-search-container" id="search-section">
    <div class="container">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">
                <div class="row justify-content-center align-items-center">
                    <div class="col-4 mr-1">
                        <input class="form-control" formControlName="search" placeholder="Search art and artists based on category" />
                    </div>
                    <div class="col-4 mr-1">
                        <select class="form-select" formControlName="priceRange">
                            <option value="">Price Range</option>
                            <option *ngFor="let range of appData.prices" [value]="range.id">{{formatPriceRange(range)}}</option>
                        </select>
                    </div>
                    <div class="col-1">
                        <app-call-to-action
                        [callToActionClasses]="secondButtonCallToActionClasses"
                        [content]="searchButtonContent"
                        (buttonAction)="handleButtonClick()"
                        ></app-call-to-action>
                    </div>
                </div>
            </form>
        </div>
</section>
<main class="landing-page-content">
        <section class="feature-artworks">
         <div class="container">
            <div class="section-header">
                <h3 class="h800">Feature Artworks</h3>
                <app-call-to-action
                class="artwork-expand-button"
                [callToActionClasses]="secondButtonCallToActionClasses"
                [content]="expandContentButton"
                (buttonAction)="handleButtonClick()"
                ></app-call-to-action>
            </div>
            <div class="section-list mt-3">
                <div class="art-card mr-4" *ngFor="let art of appData.artworks">
                    <div class="image-wrapper"></div>
                    <h4 class="art-card-title h500 mt-2">{{art.name}}</h4>
                    <p class="art-card-subtitle h500 mt-2">{{art.artist}}</p>
                </div>
            </div>
        </div>
        </section>
  
        <section class="top-artirts">
            <div class="container">
                <div class="section-header">
                    <h3 class="h800">Top Artists</h3>
                    <app-call-to-action
                    class="artwork-expand-button"
                    [callToActionClasses]="secondButtonCallToActionClasses"
                    [content]="expandContentButton"
                    (buttonAction)="handleButtonClick()"
                    ></app-call-to-action>
                </div>
                <div class="section-list mt-3">
                    <div class="art-card mr-4" *ngFor="let person of appData.artirts">
                        <div class="image-wrapper-artists border-rounded"></div>
                        <h4 class="art-card-title h500 text-center mt-2">{{person.name}}</h4>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    <footer>
        <div class="container">
            <div class="footer"></div>
        </div>
    </footer>
            <!-- 
        <section class="categories">
            <div class="container">
                <div class="section-header">
                    <h3 class="h800">Categories</h3>
                    <app-call-to-action
                    [callToActionClasses]="secondButtonCallToActionClasses"
                    [content]="expandContentButton"
                    (buttonAction)="handleButtonClick()"
                    ></app-call-to-action>
                </div>
                <div class="mosaic mt-3">
                    <div class="laydown">
                        <div class="laydown-img"></div>
                        <div class="laydown-img"></div>
                    </div>
                    <div class="standup">
                        <div class="standup-img"></div>
                    </div> 
                </div>
                <div class="mosaic-invert mb-3">
                    <div class="standup">
                        <div class="standup-img"></div>
                    </div> 
                    <div class="laydown">
                        <div class="laydown-img"></div>
                        <div class="laydown-img"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="who-we-are">
            <div class="container">
                <div class="section-header-center">
                    <h3 class="h800">Who we are</h3>
                </div>
                <div class="who-we-are-content">
                    <div class="who-we-are-text">
                    <p>
                        Up in the morning, up in the evening
                        Picking up clocks when the birds come back to eat, oh, to eat
                        Up on the mountain, down in the king's lair
                        Pushing these blocks in the heat of the afternoon, oh, afternoon
                    </p>
                    <p>
                        We were never welcome here
                        We were never welcome here at all, no

                        Oh, it's who we are
                        Doesn't matter if we've gone too far
                        Doesn't matter if it's all okay
                        Doesn't matter if it's not our day
                        Oh, won't you save us? What we are?
                    </p>
                    <p>
                        Don't look clear, it's all uphill from here, oh
                        Up in the attic, down in the cellar
                        Lost in the static, coming back for more, oh, for more
                        Out with the reason, in with the season
                        Taking down names in my book of jealousy, jealousy
                    </p>
                    </div>
                </div>
                <div class="who-we-are-actions">
                    <app-call-to-action
                    [callToActionClasses]="firstButtonCallToActionClasses"
                    [content]="expandTextButton"
                    (buttonAction)="handleButtonClick()"
                    ></app-call-to-action>
                </div>
            </div>
        </section>
        <section class="how-it-works">
            <div class="container">
                <div class="section-header-center">
                    <h3 class="h800">How it works</h3>
                </div>
                <div class="how-it-works-content">
                    <div class="how-it-works-path-customer">
                        <h4 class="h800 mb-1">Art Lover ?</h4>
                        <button class="secondary-call-to-action" (buttonAction)="handleButtonClick()">
                            Browse Colletions
                        </button>
                        <button class="secondary-call-to-action" (buttonAction)="handleButtonClick()">
                            Add to Cart
                        </button>
                        <button class="secondary-call-to-action" (buttonAction)="handleButtonClick()">
                            Make Payment
                        </button>
                        <button class="secondary-call-to-action" (buttonAction)="handleButtonClick()">
                            Share
                        </button>
                    </div>
                    <div class="division"></div>
                    <div class="how-it-works-path-artist">
                        <h4 class="h800 mb-1">Artist</h4>
                        <button class="secondary-call-to-action" (buttonAction)="handleButtonClick()">
                            Sign up
                        </button>
                        <button class="secondary-call-to-action" (buttonAction)="handleButtonClick()">
                            Update your profile
                        </button>
                        <button class="secondary-call-to-action" (buttonAction)="handleButtonClick()">
                            Post Art
                        </button>
                        <button class="secondary-call-to-action" (buttonAction)="handleButtonClick()">
                            Start Earning
                        </button>
                    </div>
                </div>
                <div class="how-it-works-actions">
                    <app-call-to-action
                    [callToActionClasses]="firstButtonCallToActionClasses"
                    [content]="joinUsButtonContent"
                    (buttonAction)="handleButtonClick()"
                    ></app-call-to-action>
                </div>
            </div>
        </section>
       
</main>
 -->

